<!DOCTYPE html>
<html lang="en">

<div>
    <h2> All Student </h2>
    {{message}}

    <table border = "0">

        <!-- Customer creation form  -->
        <tr>
            <td>Enter name:</td>
            <td><input name = "newname" type = "text" ng-model = "newname"></td>
        </tr>
        <tr>
            <td>Enter email: </td>
            <td><input name = "newemail" type = "text" ng-model = "newemail"></td>
        </tr>
        <tr>
            <td><button id="btn-id" ng-click="addCustomer()">Add customer to database</button> <td>
        </tr>


        <!-- Customer finding form  -->
        <tr>
            <td>Enter name:</td>
            <td><input name = "findname" type = "text" ng-model = "findname"></td>
        </tr>
        <tr>
            <td ng-model="findresult">Result</td>
            <td>{{ findresult.name }}</td>
            <td>{{ findresult.email }}</td>
        </tr>
        <tr>
            <td><button id="btn-findByName" ng-click="findCustomer()">Find customer in database</button> <td>
        </tr>

        <!-- Customer display table  -->
        <tr>
            <td>Subject:</td>

            <td>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Marks</th>
                    </tr>
                    <tr ng-repeat = "customer in customers">
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</html>